<% if(footer){ %>
    <div class="footer text-white flex justify-center gap-10 items-center fixed bottom-10 z-[10] bg-gray-950 rounded-3xl bg-opacity-50 backdrop-blur-md shadow-2xl px-10 py-3 w-80 left-1/2 transform -translate-x-1/2">
        <a href="/feed"><i class="text-[1.4rem] ri-home-line"></i></a>
        <a href="/search"><i class="text-[1.4rem] ri-search-line"></i></a>
        <a href="/upload"><i class="text-[1.4rem] ri-add-box-line"></i></a>
        <a href="/profile">
          <div class="w-6 h-6 bg-zinc-300 rounded-full"></div>
        </a>
      </div>
<% } %>


</body>
</html>